.container{
    margin:100px;
}


.search,.plus,.create{
    margin-bottom: 20px;
}


.search{
    background-color: rgb(247, 242, 242);
    border: 2px solid teal;
    height: 40px;
    width:120px;
    border-radius: 20px;
    color: teal;
    font-weight: 900;
   

}
.plus{
    background-color: aqua;
    height:40px;
    width:40px;
  font-size: x-large;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: none;
   
}

.create{
    background-color: rgb(59, 59, 240);
    border: 2px solid black;
    width:150px;
    height: 30px;
    box-shadow: 4px 3px;
}